body {
    background-color: #A9A9A9;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
  
.flex-color {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.flex-hue {
    margin-left: 10px;
}

.mymenu {
    margin-left: 10px;
    width: 64px;
    height: 512px;
}

.mymenu .option {
    height: 64px;
}

.menus {
    display: flex;
    flex-direction: row;
    margin: 6px;
}

.button { 
    border-radius: 15px;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.form {
    width: 120px
}

.buttonrect{
    margin-left: 3px;
    margin-right: 3px;
    width: 110px; 
    border-radius: 15px;
}

.selectoptions{
    border-radius: 10px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.title {
    margin: 30px;
    margin-bottom: 5px;
    font-size: 50px;
    color: white;
    background-color: black;
    width: 350px;
    height: 240px;
    padding: 20px;
}