body {
    background-color: #A9A9A9;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
  
.flex-color {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.flex-hue {
    margin-left: 10px;
}

.mymenu {
    margin-left: 10px;
    width: 64px;
    height: 512px;
}

.mymenu .option {
    height: 64px;
}